API_IMAGE=ghcr.io/MyGithubUserName/ticketing-api:latest

POSTGRES_USER=postgres
POSTGRES_PASSWORD=MY_STRONG_PASSWORD
POSTGRES_DB=ticketing_db

DB_CONNECTION_STRING=Host=ticketing-postgres;Port=5432;Database=ticketing_db;Username=postgres;Password=YOUR_STRONG_PASSWORD

JWT_SECRET_KEY=MY_LONG_RANDOM_SECRET
JWT_ISSUER=TicketingAPI
JWT_AUDIENCE=TicketingAPIUsers
JWT_EXPIRATION_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRY_DAYS=7
JWT_REFRESH_TOKEN_AUDIENCE=TicketingAPIRefresh

PUBLIC_BASE_URL=http://MY_SERVER_IP:8080

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=MY_EMAIL@gmail.com
EMAIL_PASSWORD=MY_APP_PASSWORD
EMAIL_FROM_EMAIL=MY_EMAIL@gmail.com
EMAIL_FROM_NAME=Ticketing Master