bin/
obj/
.vs/
.vscode/
*.user
*.suo
.env
appsettings.development.json
.env.prod
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
.terraform.lock.hcl
appsettings.Development.json
